asgiref==3.4.1
certifi==2021.10.8
Deprecated==1.2.13
Django==4.0
django-redis==5.2.0
djangorestframework==3.13.1
packaging==21.3
pyparsing==3.0.6
pytz==2021.3
redis==4.1.0
sentry-sdk==1.5.1
sqlparse==0.4.2
urllib3==1.26.7
wrapt==1.13.3
