asgiref
certifi
Deprecated
dj-database-url
Django>= 4.0, <5.0
django-cors-headers
django-filter
django-login-required-middleware
django-redis
djangorestframework>= 3.0, <4.0
djangorestframework_simplejwt
djoser
flake8
packaging
psycopg2-binary
pyparsing
python-decouple
pytz
redis
sentry-sdk
sqlparse
tqdm
urllib3
uWSGI
wrapt
